@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 修改颜色选择器按钮文字 */
.el-color-picker-panel .el-color-footer__link-btn {
  font-size: 0 !important;
}

.el-color-picker-panel .el-color-footer__link-btn::after {
  content: '重置' !important;
  font-size: 12px !important;
  display: inline-block !important;
}

.el-color-picker-panel .el-color-footer__btn {
  font-size: 0 !important;
}

.el-color-picker-panel .el-color-footer__btn::after {
  content: '保存' !important;
  font-size: 12px !important;
  display: inline-block !important;
}

